:root {
  --prussian: #003153;

  --enabled: #003153;
  --enabled-foreground: white;
  --enabled-hover: #003d67;

  --disabled: #4c4c4c;
  --disabled-foreground: grey;
  --disabled-hover: #606060;

  --unused: #202020;
  --unused-text: #404040;

  --dark-white: #a1a1a1;
  --foreground: white;
}

* {
  outline-width: 0px;
  outline: none;
}

/* . */

.main-window {
  padding: 20px;
}

.main-grid {
}

/* . */

.battery-button {
  border-radius: 50px;
  background-color: var(--prussian);
  border: none;
  padding: 10px;
  font-weight: bold;
}
.battery-button:hover {
  background-color: var(--enabled-hover);
}

.power-button {
  border-radius: 50px;
  background-color: var(--prussian);
  border: none;
  padding: 10px;
}
.power-button:hover {
  background-color: var(--enabled-hover);
}

/* . */

.scale {
}
.scale highlight {
  background-color: var(--prussian);
}
.scale slider {
  background-color: var(--foreground);
}
.scale trough {
  background-color: var(--disabled);
}

.scale:hover highlight {
  /* background-color: var(--enabled-hover); */
}
.scale:hover slider {
  background-color: var(--dark-white);
}

.scale-label {
}

.expander-list > box > title {
  padding: 0px 15px;
}

/* . */

.button {
  border-radius: 50px;
  font-weight: bold;
  border: none;
}

.button-active {
  background-color: var(--enabled);
  color: var(--enabled-foreground);
}
.button-active:hover {
  background-color: var(--enabled-hover);
}

.button-inactive {
  background-color: var(--disabled);
  color: var(--enabled-foreground);
}
.button-inactive:hover {
  background-color: var(--disabled-hover);
}

.button-box {
  padding: 0px 0px 0px 10px;
}

.unused {
  background-color: var(--unused);
  color: var(--unused-text);
}

.debug-red {
    background-color: red;
}
